.action-info-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.4); /* затемнение фона */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.action-info-container {
  width: 755px;
  height: 300px;
  background: #DCDFB0;
  display: flex;
  flex-direction: column;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 12px;
}

.action-info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.action-btn {
  background: #FDF5E6;
  border: none;
  border-radius: 12px;
  padding: 6px 16px;
  cursor: pointer;
  font-weight: bold;
}

.action-title {
  background: #FDF5E6;
  border-radius: 12px;
  padding: 6px 16px;
  font-weight: bold;
  text-align: center;
  flex-grow: 1;
  margin: 0 8px;
}

.action-info-body {
  width: 100%;
  height: 195px;
  background: #FDF5E6;
  border-radius: 12px;
  padding: 12px;
  box-sizing: border-box;
  overflow-y: auto;
}
