.reg-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* теперь прижато к верхней части */
  padding-top: 5vh; /* отступ сверху, регулируй по вкусу */
  background: rgba(250, 238, 220, 0.5);
  z-index: 1000;
}

.reg-card {
  width: 50vw;
  height: 70vh;
  background: #DCDFB0;
  padding: 50px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  font-family: Inter, Arial, sans-serif;
  color: #7d2e2e;
  position: relative;
}


/* Верхний блок */
.reg-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.avatar-select {
  font-size: 60px; /* увеличили аватар */
  background: #f3b4b4;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reg-title {
  font-size: 32px;
  font-weight: 600;
}

/* Поля ввода */
.reg-fields {
  display: flex;
  flex-direction: column;
  gap: 30px; /* увеличено расстояние между полями */
}

.reg-input {
  padding: 18px 20px;
  border-radius: 16px;
  border: none;
  background: #f3b4b4; /* розовый градиент */
  font-size: 22px;
  color: #7d2e2e;
}

.reg-select-row {
  display: flex;
  align-items: center;
  gap: 12px;
}

.reg-select {
  flex: 1;
  padding: 14px 12px;
  border-radius: 12px;
  border: 1px solid #f3b4b4;
  background: #fff;
  font-size: 16px;
  color: #7d2e2e;
}

.reg-label {
  min-width: 80px;
  font-weight: 600;
}

/* Кнопки */
.reg-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px; /* увеличено расстояние до кнопок */
}

.reg-back {
  background: #ffffffd0;
  border: none;
  padding: 16px 32px;
  border-radius: 16px;
  font-size: 24px;
  cursor: pointer;
}

.reg-submit {
  background: #f8c7c7;
  border: none;
  padding: 16px 32px;
  border-radius: 16px;
  font-size: 24px;
  cursor: pointer;
  color: #7d2e2e;
  transition: filter 0.2s;
}

.reg-submit:hover {
  filter: brightness(1.1);
}
