version: "3.9"

services:
  database:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_USER: fabricat
      POSTGRES_PASSWORD: fabricat
      POSTGRES_DB: fabricat
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data:
    driver: local
